<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE> ZTREE DEMO - checkbox</TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}tree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<!--script type="text/javascript" src="{{ STATIC_URL }}tree/js/jquery-1.4.4.min.js"></script-->
        <script src="{{ STATIC_URL }}vendors/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}tree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}tree/js/jquery.ztree.excheck-3.5.js"></script>
	<!--
	<script type="text/javascript" src="{{ STATIC_URL }}tree/js/jquery.ztree.exedit-3.5.js"></script>
	-->
</HEAD>

<BODY>
<h1>Checkbox Operation</h1>
<h6>[ File Path: excheck/checkbox.html ]</h6>
<!--div class="content_wrap">
	<div class="zTreeDemoBackground left"-->
		<ul id="treeDemo" class="ztree"></ul>
	<!--/div>

        <div id="treediv">
        </div>
</div-->
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/customer-tree.js"></script>
</BODY>
</HTML>
